<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Syne:wght@400;500;700&display=swap"
        rel="stylesheet">
    <title>HackingNotes</title>
</head>
<body>
    <main>
        <div class="container">
            <h1>HackingNotes</h1>
            <p class="hero-text"> Offensive security notes, walkthroughs, methodologies and tooling. </p>
        </div>
        <section class="cards"> <a href="{{ url_for('web_pentest') }}" class="card-link">
                <article class="card"> <img src="https://placehold.co/400x300" alt="Card">
                    <div class="card-container">
                        <h4>Note 1</h4>
                        <p> Description for Note 1 </p>
                    </div>
                </article>
            </a> </section>
    </main>
    <footer>
        <p>© 2026 HackingNotes • Offensive Security Notes</p>
    </footer>
</body>
</html>
